.ant-card-cover{
    width: 100%;
    height: 300px;
}

.ant-card-cover img{
    width: 100% !important;
    height: 300px !important;
}

.product-card{
    text-align: center;
    padding: 10px 10px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1) ;
}

.product-card .pricing{
    background-color: rgb(6, 178, 6);
    color: white;
    padding: 5px;
    display: inline-block;
}
.product-card button{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 50px;
    width: 100%;
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
}
.product-card button:hover{
    transform: scale(0.95);
    transition: all 0.3s;
}
.product-fvt{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 40px;
}
.product-fvt:hover {
    transform: scale(0.8);
    transition: all 0.3s;
}