nav{
    background-color: rgb(70, 24, 6);
    color: wheat;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    align-items: center;
}
nav .logo{
    font-size: 40px;
    display: flex;
    gap: 20px;
    color: rgba(243, 100, 4, 0.877);
    font-weight: bold;
}
nav .links{
    display: flex;
    gap: 40px;
    align-items: center;
}

nav .links a{
    text-decoration: none;
    color: wheat;
    font-weight: bold;
}
.highlight,
.logout-btn
{
    background-color: rgba(243, 100, 4, 0.877);;
    padding: 10px 40px;
    border-radius: 10px;
}

.logout-btn{
    background-color: wheat;
}

nav .logo:hover,
nav .links a:hover,
.logout-btn
 {
    transform: scale(0.9);
    transition: all 0.3s;
}

.orderLink{
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 2px;
}
